version: 2.1

orbs:
  architect: giantswarm/architect@6.12.0

job_filters: &job_filters
  filters:
    tags:
      only: /^v[0-9]+\.[0-9]+\.[0-9]+$/
    branches:
      ignore:
        - main

workflows:
  package-and-push-chart-on-tag:
    jobs:
      - architect/push-to-app-catalog:
          context: architect
          executor: app-build-suite
          name: package and push aws-ebs-csi-driver chart
          app_catalog: default-catalog
          app_catalog_test: default-test-catalog
          chart: aws-ebs-csi-driver
          <<: *job_filters

      - architect/push-to-app-catalog:
          context: architect
          executor: app-build-suite
          name: package and push aws-ebs-csi-driver-bundle chart
          app_catalog: default-catalog
          app_catalog_test: default-test-catalog
          chart: aws-ebs-csi-driver-bundle
          explicit_allow_chart_name_mismatch: true
          requires:
            - package and push aws-ebs-csi-driver chart
          <<: *job_filters
